<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie List</title>
</head>
<body>

{% if movie_lists %}
    <ul>
    {% for movie_list in movie_lists %}
        <li><a href="{% url 'movie_list:view' movie_list.list.id %}">{{ movie_list.list.name }}</a></li>
        <p>Number of movies: {{ movie_list.number_of_movies }}</p>
        <p>Average rating: </p>
    {% endfor %}
    </ul>
{% endif %}
<a href="{% url 'movie_list:new' %}">Create a movie list!</a>

</body>
</html>